.menu {
  background-image: url(../images/background_menu.svg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  margin: 0;
}
.menu__title {
  margin: 0;
  max-width: 780px;
  padding-bottom: 24px;
  text-align: center;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.menu__subtitle {
  text-align: center;
  max-width: 780px;
  padding-bottom: 100px;
  margin: 0 auto;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
.card {
  width: 540px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;
}
.card:last-child {
  align-self: center;
}
.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 16px;
}
.card__list-item {
  width: 540px;
  margin: 0;
  display: flex;
  align-items: center;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
  align-self: last baseline;
  flex: 1;
  border-bottom: 1px solid #333;
  margin: 0 4px;
}
